<%= form_with(model: budget_item_list, local: true) do |form| %>
  <% if budget_item_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(budget_item_list.errors.count, "error") %> prohibited this budget_item_list from being saved:</h2>

      <ul>
        <% budget_item_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
